
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/treeRL4detection.iml
.idea/vcs.xml
__pycache__/utils.cpython-36.pyc
.DS_Store
